---

---

<div class="parallax-container">
    <video autoplay muted loop id="videofondozeko">
        <source src="../public/magicteaserproducts.mp4" type="video/mp4">
    </video>
    <div class="container-logo-magic">
        <div class="child-logo-magic">
            <img src="../public/logomagic.png" alt="" class="logo-magic">
        </div>
        <div class="child-logo-magic">
            
        </div>
    </div>
</div>

<div class="sample-section">
    <h2>Galeria</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab numquam
        eveniet molestias veniam, inventore sint voluptates nam provident
        impedit laborum ipsa vel quos amet laboriosam dolorum suscipit! Nihil
        eos repellendus blanditiis repellat laboriosam veniam quod maxime ab! Ea
        eveniet doloremque, excepturi totam, et molestias dicta accusamus
        quibusdam quas sunt inventore!
    </p>
</div>

<div class="sea2"></div>

<div class="sea3"></div>

<style>
    .parallax-container {
        position: relative;
        overflow: hidden;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #videofondozeko {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        filter: brightness(70%);
    }

    .parallax-container h1 {
        font-weight: bold;
        font-size: 6rem;
        color: white; /* Cambia el color del texto según tu diseño */
        z-index: 1;
    }

    .sample-section {
        padding: 2.5rem;
    }

    .sample-section h2 {
        font-weight: bold;
        font-size: 2.5rem;
    }

    .sea2,
    .sea3 {
        min-height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .sea2 {
        background-image: url("../public/fotopadmagicred.png");
    }

    .sea3 {
        background-image: url("../public/fotopadmagicred.png");
    }

    .container-logo-magic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .child-logo-magic {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-magic {
        width: 50%;
    }

</style>
﻿
᲼
1yuuki
https://youtu.be/_uoovWo4uUA